<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
</head>

<body>
    {{data.name}}
    {{data.city}}
    {{data.email}}
    {{data.contact}}
    {{data.password}}

    <a href="{% url 'home' %}">Logout</a>

    <center>
        <h1>Query Form</h1>
        <h4>{{msg}}</h4>
        {% if form1 %}
        <!-- <form action="{% url 'query' %}" method> -->
        <form action="{% url 'update' %}" method="post">
            {% csrf_token %}
            {{form1}}
            <button type="submit">Update</button>
        </form>
        {% else %}
        <form action="{% url 'query' %}" method="post">
            {% csrf_token %}
            {{query}}
            <button type="submit">Submit Query</button>

        </form>
        {% endif %}
    </center>
    <h1>Query Detail</h1>
    <table>
        <th>
            <td>id</td>
            <td>Name</td>
            <td>Email</td>
            <td>Query</td>
            <td>Update</td>
            <td>Delete</td>
        </th>
        {% if query_detail %}
        {% for i in query_detail %}
           <tr>
               <td>{{i.id}}</td>
               <td>{{i.stu_name}}</td>
               <td>{{i.stu_email}}</td>
               <td>{{i.stu_query}}</td>
               <td><a href="#"><button type="submit">Edit</button></a></td>
               <td><form action="{% url 'edit' pk=i.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Edit</button>
               </form></td>
               <td><form action="{% url 'delete' pk=i.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Delete</button>
               </form></td>
           </tr>
        {% endfor %}
        {% endif %}

    </table>

</body>

</html>